[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "*"
discord = {extras = ["voice"], version = "*"}
datetime = "*"
youtube-dl = "*"

[dev-packages]

[requires]
python_version = "3.7"
